@use "global" as *;
.swiper {
  width: rem(375);
  height: rem(261);
  @include mq(md) {
    width: rem(557);
    height: rem(389);
    margin-right: rem(25);
  }
  @include mq(xl) {
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 元々のpositionを初期化
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: initial;
  bottom: initial;
  left: initial;
  width: auto;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f9f871;
}
