@use "global" as *;
.works__title--text {
  font-size: rem(20);
  font-weight: $normal;
  font-style: normal;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: rem(2);
  line-height: 1.45;
  color: #fff;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.works__title--text::before {
  overflow: hidden;
  content: "Works";
  display: block;
  position: relative;
  top: 0;
  transform: translate(0%, 0%);
  color: #f9f871;
  opacity: 0.2;
  font-size: rem(50);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: $normal;
  font-style: normal;
  letter-spacing: rem(2);
  line-height: 1.44;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
