@use "global" as *;
.works__text-contents--explain-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  letter-spacing: rem(2);
  line-height: 1.4375;
  color: #fff;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}
